body{
} 

header{
    text-align: center;
}
#title{
    font-family: 'Comic Neue', cursive;
    font-size: 2rem;;
}

#image{
    max-width: 100%;
    height: auto;
}

#title p{
    color: #333;
    font-size: 0.7rem;
}

#image-div{
    background-color: white; 
   text-align: center;
}

#img-caption{
    padding:10px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    color:#333;
}

#container{
    background-color: #EEEEEE;
    padding: 20px;
     margin:20px 10px;
    border-radius: 20px;
}

#tribute-info{
    padding: 50px;
}

footer{
    text-align: center;
    line-height: 1.5;
    font-size: 1.5rem;
    color:#333;
}

#tribute-info{
   margin:0 15%;
   display: grid;
}

#tribute-info h3{
    text-align: center;
    padding-bottom: 20px;
}

#tribute-info ul>li{
    font-size: 1.1rem;
    color:#333;
    margin:16px 0;
    font-family: 'Comic Neue', cursive;
    line-height: 1.5rem;
}

#tribute-info p{
    font-style: italic;
    font-size: 1.3rem;
    line-height: 1.4;
    color:#333;
    font-family: 'Comic Neue', cursive;
}

footer h3{
    font-size: 1.2rem;
}

